/* ----------------------------------- */

/* ESTILOS GENERALES (Diseño Elástico) */

/* ----------------------------------- */

/* ---------- MEDIA QUERIS ---------- */

/* -------------------- */

/* SMARTPHONE (Vertical)*/

/* -------------------- */

/* Acuerdate que el ultimo media queri, puede pisar lo que los demas tengan
puesto, tenlo en cuenta.  */

@media only screen and (min-device-width:320px)
/* Horientacion Vertical */

and (orientation: portrait)
/* FIN */

    {

    /*  General */
    .content {
        display: flex;
        flex-direction: column;
    }

    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    /* Header */
    .header {
        display: flex;
        flex-direction: column;
        height: 56px
    }

    .navegacion {
        display: flex;
        flex-wrap: wrap;
    }

    .navegacion {
        background-color: blueviolet;
    }

    /* Principal */

    .principal {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 200px;

    }

    .yo {
        width: 100%;
        left: 50px;
        bottom: 50px;
    }

    .yo h2 {
        font-size: 16px;
    }

    .yo h1 {
        font-size: 22px; margin-bottom: 20px;
    }
.botonyo{ display: none;}
    .botonyo2 {
        width: 100%;
        height: 50px;
        padding: 0px;
        font-size: 12px;
        text-size-adjust: auto ;
        text-justify: distribute-all-lines;
        background-color:none;
    }

/* Lateral */
.lateral{ display:none;margin-bottom: 200px;}


/*  Secundario */

.secundario{display:flex; flex-direction: column; width:100%;
    height:100vh; margin-top: 200px;
}

.parque{ width:100vw; height:100vh}

.item1{ display:flex; flex-direction: column;widows: 100vw;; height:100vh}



.item2{ display:flex; flex-direction: column; width:100%}

.sobre{ margin:0px;padding:0px; font-size: 16px;}
.quien{ margin:0px;padding:0px;font-size: 16px;}
.hola{ margin:0px;padding:0px;font-size: 16px;}

.redaccion{ width:100%;font-size: 16px;margin:0px;padding:0px;}
.estudio{ width:100%;font-size: 16px;margin:0px;padding:0px;}





}

/* -------------------- */

/* TABLET */

/* -------------------- */

/* ---------- VERTICAL ---------- */

@media only screen and (min-device-width:768px) and (orientation: portrait) {}

/* ---------- HORIZONTAL ---------- */

@media only screen and (min-device-width:1024px) and (orientation: landscape) {}

/* -------------------- */

/* ESCRITORIO */

/* -------------------- */

@media only screen and (min-width:1366px) {}








/* Para backgrounds o imagenes ,aqui debajo de estas lineas*/

/* CON RETINA DISPLAY DESKTOP  2x-Escritorio*/

@media only screen and (-webkit-pixel-ratio:2),
/* PARA MOZILLA */

only screen and (-moz-pixel-ratio:2),
/* PARA MICROSOFT EXPLORER */

only screen and (-ms-pixel-ratio:2) and (min-width:800px) {

    /* EJEMPLO */
    header {
        background-image: url(../img/desktop/manoiphonemonitor@2x.jpg)
    }
}

/* TABLET */

/* CON RETINA DISPLAY 2X Tablet */

/* ---------- VERTICAL ---------- */
@media only screen and (-webkit-pixel-ratio:2),
only screen and (-moz-pixel-ratio:2),
only screen and (-ms-pixel-ratio:2) and (min-width:768px) and (orientation: portrait) {

    /* EJEMPLO */
    header {
        background-image: url(../img/smartphone/manoiphonemonitor@2x.jpg);
    }
}

/* ---------- HORIZONTAL ---------- */
/* PARA IMAGENES EN TABLET, ME DICE QUE NO IMPORTA EL MODO HORIZONTAL */
/* @media only screen and (-webkit-pixel-ratio:2),
only screen and (-moz-pixel-ratio:2),
only screen and (-ms-pixel-ratio:2) and (min-width:1024px) and (orientation: landscape){ */
/* EJEMPLO */
/* header {
        background-image: url(../img/smartphone/manoiphonemonitor@2x.jpg);
    }
} */







/* CON RETINA DISPLAY 2X SMARTPHONE */

@media only screen and (-webkit-pixel-ratio:2),
only screen and (-moz-pixel-ratio:2),
only screen and (-ms-pixel-ratio:2) and (min-width:320px) {

    /* EJEMPLO */
    header {
        background-image: url(../img/smartphone/manoiphonemonitor@2x.jpg);
    }
}

/* CON RETINA DISPLAY 3-Movil*/

@media only screen and (-webkit-pixel-ratio:3),
/* PARA MOZILLA */

only screen and (-moz-pixel-ratio:3),
/* PARA MICROSOFT EXPLORER */

only screen and (-ms-pixel-ratio:3) {

    /* EJEMPLO */
    header {
        background-image: url(../img/smartphone/manoiphonemonitor@3x.jpg)
    }
}